@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.7);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: var(--body);

}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 900;

}

a {
    color: var(--dark);
    text-decoration: none;
}


.logo {
    width: 175px;

}

.nav-bar.nav-link {
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}



.hero {
    background-image: url(images/bti7.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    font-weight: 900;
}

.hero ::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7);
    z-index: -1;


}

.navbar {
    box-shadow: var(--box-shadow);
}



section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

img {
    width: 100%;
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.services {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.services::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;

}

.services:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.services:hover h5,
.services:hover p {
    color: #fff;
}

.services:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(images/ma3.5.webp);
    background-position: center;
    background-size: cover;
    min-height: 400px;


}

.project {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;

}

.project img {
    transition: all 0.4s ease;

}

.project:hover .overlay {
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

.pricing li {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

ul li a {
    text-decoration: none;
    color: var(--dark);
}

.team-members img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    color: var(--dark);

}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 4px solid var(--primary);

}

.social-icons a:hover {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.blog a {
    color: var(--dark);
    text-decoration: none;
}

form input .form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.02);
}


.footer-top {
    width: 100%;
    padding-bottom: 100px;
    padding: 100px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #888;
}